@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100;200;300;400;500;600;700;800;900&display=swap');
/*ELEMENTOS HTML*/

body{
    font-family: 'Heebo', sans-serif !important;
    font-weight: 500 !important;
}

h2{
    
    font-size: 30px !important;
    margin-top: 5px !important;
    font-weight: 600 !important;
    letter-spacing: -1px;
}

.icons{
    position:relative;
    width: 15px;
    padding-left: 10px;


}

/*CLASES*/
.container{
    margin: 40px 40px 20px 40px;
}

.dollar{
    position: absolute;
    bottom: 0px;
    font-size: 20px;
    margin-bottom: 7px;
    color: rgb(155, 155, 155);
}

.cards{
    color: white;
}

.card-title{
    
    margin-bottom: 0px !important;
}

.payments{
    background-color: rgb(105, 105, 105);
    width:fit-content ;
    padding: 7px 7px 7px 12px;
    border-radius: 5px;
}

.alert{
    margin: 20px 20px 20px 20px;
}

.alert-text{
    margin: 0px 20px 0px 10px;
}

.inputrow{
    padding: 10px 20px 10px 20px;
}
/*ID*/
